In [ ]:
# import re
# import time
# import tabulate

In [1]:
import pandas as pd
import numpy as np

from get_data import get_nba_teams, get_nba_players
from clean_data import add_and_adjust_cols

nba_teams = get_nba_teams()
nba_players = get_nba_players(nba_teams)
nba_df = add_and_adjust_cols(nba_players)

How many players are currently on an NBA roster?

In [2]:
nba_df.shape[0]

517

Who is the youngest team in the NBA?  In other words, which team has the youngest roster on average?

In [3]:
nba_df.groupby('team')['current_age'].mean().sort_values(ascending=True).head(5)

team
Oklahoma City Thunder    23.387680
San Antonio Spurs        23.814547
Orlando Magic            23.943418
Indiana Pacers           24.203331
Houston Rockets          24.401812
Name: current_age, dtype: float64

In [ ]:
'''
YOUNGEST TEAM IN NBA - METHOD #2: 
subtracts each player's DoB from right now which creates a timedelta object, then calculate a year figure in int format
'''
nba_df['current_age'] = nba_df.dob.apply(lambda x: (dt.datetime.now() - x).days / 365.25)
youngest_teams = nba_df.groupby('team')['current_age'].mean().sort_values(ascending=True).head(5)
youngest_teams = youngest_teams.sort_values(ascending=True).head(5)

In [ ]:
# youngest teams
youngest_teams = nba_df.groupby('team')['current_age'].mean().sort_values(ascending=True).head()
youngest_teams = pd.DataFrame(data=youngest_teams)

In [ ]:
import plotly.express as px
data_canada = px.data.gapminder().query("country == 'Canada'")
fig = px.bar(data_canada, x='year', y='pop')
fig.show()

In [ ]:
youngest_teams.plot(type='bar')

In [ ]:


# oldest teams
nba_df.groupby('team')['current_age'].mean().sort_values(ascending=False).head()

# lightest teams
nba_df.groupby('team')['weight_int'].mean().sort_values(ascending=True).head()

# heaviest teams
nba_df.groupby('team')['weight_int'].mean().sort_values(ascending=False).head()

# tallest teams
nba_df.groupby('team')['height_in'].mean().sort_values(ascending=False).head()

# shortest teams
nba_df.groupby('team')['height_in'].mean().sort_values(ascending=True).head()

# Top 10 colleges by representation
nba_df.pivot_table(index='college', aggfunc='size').sort_values(ascending=False).head(10)

In [ ]:
# for printing to markdown purposes: 
youngest_teams = pd.DataFrame(data=youngest_teams)
youngest_teams.current_age = youngest_teams.current_age.round(2)
youngest_teams.to_markdown()

In [ ]:
nba_df = pd.read_csv('nba_df.csv')

In [ ]:
'''
YOUNGEST TEAM IN NBA - METHOD #1: 
converts date of birth to nanoseconds in order to run the mean, then converts back to dt
'''
nba_df['dob_ns'] = nba_df.dob.values.astype(np.int64)
pd.to_datetime(nba_df.groupby(by='team')['dob_ns'].mean()).sort_values(ascending=False)

In [ ]:
nba_df.head(1)

In [ ]:
# >>> df.groupby('ID')[['Val1','Val2']].corr()
#nba_df.head(1)
#nba_df.groupby('team')[['current_age', 'weight_int']].corr()
nba_df.corr()